  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#intro" class="scrollto"><img src="img/ISBA.png" height="50" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
           <li><a href="#events">Events</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#bylaws">Bylaws</a></li>
          <li><a href="#officers">Officers</a></li>
          <li><a href="#awards">Awards</a></li>
          <li><a href="#faq">F.A.Q.</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">The ISBA <br><span>Biopharm</span> Section</h1>
      <p class="mb-4 pb-0">The Biostatistics and Pharmaceutical Statistics Section of the International Society for Bayesian Analysis. </p>
      <a href="#about" class="about-btn scrollto">About The Section</a>
    </div>
  </section>

  <main id="main">
